* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center; 
    justify-self: start;
  }

#wrap {
    min-width: 750px;
    margin: auto;
    text-align: center;
}

#header {
    vertical-align: middle;
    background-color: black;
    text-align: center;
    text-align: left;
    /* padding: 30px; */
    /* height: 65px; */
    height:300px;
    margin-bottom: 50px;
}
.logo{
    width: 553px;
    height: 177px;
    text-align: center;
    /* display: table-cell; */
    margin-top: 50px;
    /* margin-bottom: 50px; */
}

.pikachu{
    width: 200px;
    height:170px;
}

h1 {
    line-height: 1.5;
    font-size: 50px;
}

.display{
    display: flex;
    margin-bottom: 50px;
}

/* .main {
    position: relative;
} */

#closed-pokeball{
    width: 600px;
    height:600px;
    margin:  0 auto;  
     
}

.pokeball{
 width: 150px;
 margin:  0 auto;    
 
}
/* アニメーション */
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .image-rotate {
    animation: rotate 1s linear infinite;
  }


.pokeballopen{
    display: none;
    width: 150px;
    margin:  0 auto; 
}



#pokeball-container {
    position: relative;
    width: 600px;  /* Poke_Ballopen.pngの実際の幅に合わせて調整してください */
    height: 600px; /* Poke_Ballopen.pngの実際の高さに合わせて調整してください */
}

#pokeball-image {
    width: 100%;
    height: auto;
    display: block; /* 画像がdivの全体を覆うように */
}

#app {
    position: absolute;
    top: 50%;    /* 画像の中央に合わせる */
    left: 50%;
    transform: translate(-50%, -50%); /* 中心点を正確に中央に配置 */
    width: 100%; /* 画像サイズに合わせて調整可能 */
    height: 100%; /* 画像サイズに合わせて調整可能 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#app img{
        width: 300px;
        height:300px;  
}

#go {
    font-size: 21px;
    position: relative;
    width: 100px;
    height:100px;
    font-size: 50px;
    font: bold;
    background-color: black;
    color: white;
    margin-bottom: 30px;

}

#footer {
    /* border-top-right-radius: 2em;
    border-top-left-radius: 2em; */
    height:300px;
    text-align: center;
    padding: 30px;
    background-color: black;
    width: 100%
}

#wrap {
    text-align: center;
}

/* #pokeball-container {
    position: relative;
    display: inline-block;
}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */